.cloudplayer {
    
}
.cloudplayer .jumbotron {
    background: orange;
    color:white;
}

.cloudplayer .search .panel-heading{
    color:white;
        background: blue
}
.cloudplayer .custpanel {
    
}
.cloudplayer .custpanel .ul {
    list-style: none;
    list-style-type: none;
}
.no-bullets {
     list-style: none;
    list-style-type: none;
}
.custom-font-logo {
   font-family: 'Lobster', cursive;
}
.custom-font-header {
    font-family: 'Exo 2', sans-serif;
}
.custom-font {
    font-family: 'Patua One', cursive;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*
font-family: 'Lobster', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Patua One', cursive;*/
